/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #3787ff;
}

h1 {
  font-style: italic;
  color: white;
}
input {
  width: 50px;
  border-radius: 7px;
}
