body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #3787ff;
}

h1 {
  font-style: italic;
  color: white;
}

h2 {
  color: white;
}

input {
  width: 45px;
  border-radius: 7px;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.like-input {
  color: initial;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: white;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  width: 60px;
  border-radius: 7px;
  cursor: defalt;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
